{% extends "base.html" %}
{% block content %}
<div class="container my-3" id="print">
    <div class="row"> 
        {% if customerOrderResult %}
        {% for cs in customerOrderResult %}
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>{{cs.num}}</th>
                        <th colspan="3">{{cs.cn}}</th>
                    </tr>
                    <tr>
                        <th colspan="2">품목</th>
                        <th>수량</th>
                        <th>주문금액</th>
                    </tr>
                </thead>
                {% if labelListResult %}
                <tbody>
                    {% for lb in labelListResult %}
                    {% if cs.id == lb.id %}
                    <tr>
                        <td>
                            {{lb.num}}
                        </td>
                        <td>
                            {{lb.fn}}
                        </td>
                        <td>
                            {{lb.oq}}
                        </td>
                        <td>
                            {{lb.pp}}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% if labelMoreLen %}
                    {% for lm in labelMoreLen %}
                    <tr>
                        <td>
                            {{ lm }}
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% for tp in totalPriceResult %}
                    {% if cs.id == tp.id %}
                    <tr>
                        <td colspan="2">총계</td>
                        <td>{{tp.cnt}}</td>
                        <td>{{tp.tp}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center">출력할 라벨 정보가 없습니다.</div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var initBodyHtml;

    function printPage() {
         window.print(0);
    }
    function beforPrint() {
        initBodyHtml = document.body.innerHTML;
        document.body.innerHTML = document.getElementById('print').innerHTML;
    }
    function afterPrint() {
        document.body.innerHTML = initBodyHtml;
    }

    window.onbeforeprint = beforPrint;
    window.onafterprint = afterPrint;

</script>
<style type="text/css">
    @media print {
        .page-break { page-break-inside:avoid; page-break-after:auto }
    }
</style>
{% endblock %}