{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    {% if orderlistModifySelectResult %}
    <form method="post" action="{% url 'main:orderinfo_modify' orderlistModifySelectResult.0.id %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <div class="row">
                <div class="col-md">
                    <label for="customer_name">고객명</label>
                    <input readonly type="text" class="form-control" name="customer_name" id="customer_name"
                        value="{{ orderlistModifySelectResult.0.cn }}">
                </div>
                {% for fl in fruitlist_list %}
                <div class="col-md">
                    <label for="fruit_name">{{fl.fruit_name}}</label>
                    {% for omr in orderlistModifySelectResult %}
                    {% if fl.id == omr.fid %}
                    <input type="text" class="form-control" name="{{omr.mfid}}" id="{{omr.fn}}"
                        value="{{ omr.qn|default_if_none:'' }}">
                    {% elif omr.fid == None %}
                    <input type="text" class="form-control" name="{{fl.id}}" id="{{fl.fruit_name}}"
                        value="{{ form.fruit_name.value|default_if_none:'' }}">
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="col-md">
                    <label for="payment_method">결제방식</label>
                    <select class="form-select" name="payment_method">
                        {% if orderlistModifySelectResult.0.pmi == 1 %}
                        <option value="1" selected>결제완료</option>
                        <option value="2">결제대기</option>
                        {% elif orderlistModifySelectResult.0.pmi == 2 %}
                        <option value="1">결제완료</option>
                        <option value="2" selected>결제대기</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-md">
                    <label for="shipping_type">배송방식</label>
                    <select class="form-select" name="shipping_type">
                        {% if orderlistModifySelectResult.0.sti == 3 %}
                        <option value="3" selected>방문수령</option>
                        <option value="4">야간수령</option>
                        <option value="5">한결수령</option>
                        {% elif orderlistModifySelectResult.0.sti == 4 %}
                        <option value="3">방문수령</option>
                        <option value="4" selected>야간수령</option>
                        <option value="5">한결수령</option>
                        {% elif orderlistModifySelectResult.0.sti == 5 %}
                        <option value="3">방문수령</option>
                        <option value="4">야간수령</option>
                        <option value="5" selected>한결수령</option>
                        {% endif %}
                    </select>
                </div>
            </row>
        </div>
        <div class="my-3" style="float:right;">
            <button type="submit" class="btn btn-success">주문수정</button>
            <button type="button" class="btn btn-danger" onclick="deleteOrderList('{{orderlistModifySelectResult.0.id}}')">주문삭제</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/main/orderlist/'">취소</button>
        </div>
    </form>
    {% elif fruitlist_list %}
    <form method="post" action="{% url 'main:orderlist_create' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <div class="row">
                <div class="col-md">
                    <label for="customer_name">고객명</label>
                    <input type="text" class="form-control" name="customer_name" id="customer_name"
                        value="{{ form.customer_name.value|default_if_none:'' }}">
                </div>
                
                {% for fruitlist in fruitlist_list %}
                <div class="col-md">
                    <label for="fruit_name">{{fruitlist.fruit_name}}</label>
                    <input type="text" class="form-control" name="{{fruitlist.fruit_name}}" id="{{fruitlist.fruit_name}}"
                        value="{{ form.fruit_name.value|default_if_none:'' }}">
                </div>
                {% endfor %}
                <div class="col-md">
                    <label for="payment_method">결제방식</label>
                    <select class="form-select" name="payment_method">
                        <option value="1">결제대기</option>
                        <option value="2">결제완료</option>
                    </select>
                </div>
                <div class="col-md">
                    <label for="shipping_type">배송방식</label>
                    <select class="form-select" name="shipping_type">
                        <option value="3">방문수령</option>
                        <option value="4">야간수령</option>
                        <option value="5">한결수령</option>
                    </select>
                </div>
            </row>
        </div>
        {% if validationError %}
        <strong>{{validationError}}</strong>
        {% endif %}
    <button type="submit" class="btn btn-primary my-3" style="float:right;" onclick="location.reload();">주문등록</button>    
    </form>
    {% else %}
    <div class="text-center">출력할 주문서 정보가 없습니다.</div>
    {% endif %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            {% if fruitlist_list %}
            <tr class="text-center border-3 border-dark">
                <td class="border-3 border-end-0 border-dark" rowspan="5" style="vertical-align : middle; width: 8%;">닉네임</td>
                <!-- <th style="width:50%">제목</th> -->
                <td class="border-3 border-dark" style="width:10%;">종류</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-bottom-0 boroder-top-0 border-dark">{{ fruitlist.fruit_name }}</td>
                {% endfor %}
                <td class="border-3 border-dark" rowspan="5" style="vertical-align : middle; width:10%;">구매금액</td>
            </tr>
            <tr class="text-center" style="border-bottom:1px !important;">
                <td class="border-3 border-dark" style="width:10%; border-bottom:1px !important;">가격</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-bottom-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.price }}</td>
                {% endfor %}
            </tr>
            <tr class="text-center">
                <td class="border-3 border-dark" style="width:10%;">총수량</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-bottom-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.quantity }}</td>
                {% endfor %}
            </tr>
            <tr class="text-center">
                <td class="border-3 border-dark" style="width:10%;">주문수량</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-bottom-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.oq }}</td>
                {% endfor %}
            </tr>
            <tr class="text-center">
                <td class="border-3 border-dark" style="width:10%;">남은수량</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.stock }}</td>
                {% endfor %}
            </tr>
        </thead>
            {% endif %}
            {% if orderlistResult %}
        <tbody class="border-3 border-dark">
            {% for orderlist in orderlistResult %}
            {% if orderlist.cn == orderlistModifySelectResult.0.cn %}
            <tr class="text-center" style="background-color:#9c9d9e;">
            {% else %}
            <tr class="text-center"> 
            {% endif %}
                <td colspan="2" class="border-3 border-top-0 border-bottom-0 border-dark">
                    <a href="{% url 'main:orderinfo_modify_select' orderlist.id %}">{{orderlist.cn}}</a><div style="font-size:3px;">{{orderlist.pmn}}/{{orderlist.stn}}</div>
                </td>
                {% for quantity in orderlist.oq %}
                <td>{{quantity|default_if_none:'0'}}</td>
                {% endfor %}
                <td>{{orderlist.tp}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    document.getElementsByName("reload").onclick = function () {
        
        location.href='/main/orderlist/'
    }

    function deleteOrderList(id) {
        if(confirm("주문내역을 삭제 하시겠습니까?")){
            axios.post('/main/orderlist/delete/'+ id +'/')
            .then((response) => {
                alert("삭제 완료");
                location.reload();
            })
            .catch((error) => {
            });
        }
    }
</script>
{% endblock %}