{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="form-group mb-3" style="width: 15.5%; margin-left: 68%; padding-left: 8px;">
        <label for="storePlace" class="control-label">점포명</label>
                <input type="text" readonly id="storePlace" class="form-control text-center" value={{storePlace}}>
        </div>
        <div class="form-group mb-3" style="width: 15.5%; margin-left: auto; padding-left: 8px;">
            <!-- <div class="col-md-9"></div>
            <div class="col-md-3"> -->
                <label for="datePicker" class="control-label">일자</label>
                {% if orderDate %}
                <input type="text" id="datePicker" class="form-control text-center" value={{orderDate}}>
                {% else %}
                <input type="text" id="datePicker" class="form-control text-center" value='{% now "Y-m-d" %}'/> 
                {% endif %}            
            <!-- </div> -->
        </div>
    </div>
    {% if orderlistModifySelectResult %}
    <form method="post" action="{% url 'main:orderinfo_modify' orderlistModifySelectResult.0.id %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <div class="row">
                <div class="col-md">
                    <label for="customer_name">고객명</label>
                    <input readonly type="text" class="form-control" name="customer_name" id="customer_name"
                        value="{{ orderlistModifySelectResult.0.cn }}">
                </div>
                {% for fl in fruitlist_list %}
                <div class="col-md">
                    <label for="fruit_name">{{fl.fruit_name}}</label>
                    {% for omr in orderlistModifySelectResult %}
                    {% if fl.id == omr.fid %}
                    <input type="text" class="form-control" name="{{omr.mfid}}" id="{{omr.fn}}"
                        value="{{ omr.qn|default_if_none:'' }}">
                    {% elif omr.fid == None %}
                    <input type="text" class="form-control" name="{{fl.id}}" id="{{fl.fruit_name}}"
                        value="{{ form.fruit_name.value|default_if_none:'' }}">
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="col-md">
                    <label for="payment_method">결제방식</label>
                    <select class="form-select" name="payment_method">
                        {% if orderlistModifySelectResult.0.pmi == 1 %}
                        <option value="1" selected>결제완료</option>
                        <option value="2">결제대기</option>
                        {% elif orderlistModifySelectResult.0.pmi == 2 %}
                        <option value="1">결제완료</option>
                        <option value="2" selected>결제대기</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-md">
                    <label for="shipping_type">배송방식</label>
                    <select class="form-select" name="shipping_type">
                        {% if orderlistModifySelectResult.0.sti == 3 %}
                        <option value="3" selected>방문수령</option>
                        <option value="4">야간수령</option>
                        <option value="5">한결수령</option>
                        {% elif orderlistModifySelectResult.0.sti == 4 %}
                        <option value="3">방문수령</option>
                        <option value="4" selected>야간수령</option>
                        <option value="5">한결수령</option>
                        {% elif orderlistModifySelectResult.0.sti == 5 %}
                        <option value="3">방문수령</option>
                        <option value="4">야간수령</option>
                        <option value="5" selected>한결수령</option>
                        {% endif %}
                    </select>
                </div>
            </row>
        </div>
        <div class="my-3" style="float:right;">
            <button type="submit" class="btn btn-success">주문수정</button>
            <button type="button" class="btn btn-danger" onclick="deleteOrderList('{{orderlistModifySelectResult.0.id}}')">주문삭제</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/main/orderlist/'">취소</button>
        </div>
    </form>
    {% elif fruitlist_list %}
    <form method="post" action="{% url 'main:orderlist_create' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <div class="row">
                <div class="col-md">
                    <label for="customer_name">고객명</label>
                    <input type="text" class="form-control" name="customer_name" id="customer_name"
                        value="{{ form.customer_name.value|default_if_none:'' }}">
                </div>
                
                {% for fruitlist in fruitlist_list %}
                <div class="col-md">
                    <label for="fruit_name">{{fruitlist.fruit_name}}</label>
                    <input type="text" class="form-control" name="{{fruitlist.fruit_name}}" id="{{fruitlist.fruit_name}}"
                        value="{{ form.fruit_name.value|default_if_none:'' }}">
                </div>
                {% endfor %}
                <div class="col-md">
                    <label for="payment_method">결제방식</label>
                    <select class="form-select" name="payment_method">
                        <option value="1">결제대기</option>
                        <option value="2">결제완료</option>
                    </select>
                </div>
                <div class="col-md">
                    <label for="shipping_type">배송방식</label>
                    <select class="form-select" name="shipping_type">
                        <option value="3">방문수령</option>
                        <option value="4">야간수령</option>
                        <option value="5">한결수령</option>
                    </select>
                </div>
            </row>
        </div>
        {% if validationError %}
        <strong>{{validationError}}</strong>
        {% endif %}
    {% now "Y-m-d" as todays_date %}
    {% if orderDate %}
    {% if todays_date == orderDate %}
    <button type="submit" class="btn btn-primary my-3" style="float:right;" onclick="location.reload();">주문등록</button>    
    {% endif %}
    {% else %}
    <button type="submit" class="btn btn-primary my-3" style="float:right;" onclick="location.reload();">주문등록</button>    
    {% endif %}
    <button type="submit" style="visibility:hidden;">주문등록</button>    
    </form>
    {% else %}
    <div class="text-center">출력할 주문서 정보가 없습니다.</div>
    {% endif %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            {% if fruitlist_list %}
            <tr class="text-center border-3 border-dark">
                <td class="border-3 border-end-0 border-dark" rowspan="5" style="vertical-align : middle; width: 8%;">닉네임</td>
                <!-- <th style="width:50%">제목</th> -->
                <td class="border-3 border-dark" style="width:10%;">종류</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-bottom-0 boroder-top-0 border-dark">{{ fruitlist.fruit_name }}</td>
                {% endfor %}
                <td class="border-3 border-dark" rowspan="5" style="vertical-align : middle; width:10%;">구매금액</td>
            </tr>
            <tr class="text-center" style="border-bottom:1px !important;">
                <td class="border-3 border-dark" style="width:10%; border-bottom:1px !important;">가격</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-bottom-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.price|intcomma }}</td>
                {% endfor %}
            </tr>
            <tr class="text-center">
                <td class="border-3 border-dark" style="width:10%;">총수량</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-bottom-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.quantity }}</td>
                {% endfor %}
            </tr>
            <tr class="text-center">
                <td class="border-3 border-dark" style="width:10%;">주문수량</td>
                {% for fruitlist in fruitlist_list %}    
                <td class="border-3 border-top-0 border-bottom-0 border-dark" style="border-top:1px solid !important;">{{ fruitlist.oq }}</td>
                {% endfor %}
            </tr>
            <tr class="text-center">
                <td class="border-3 border-dark" style="width:10%;">남은수량</td>
                {% for fruitlist in fruitlist_list %}
                {% if fruitlist.stock <= 5%}    
                <td class="table-danger border-3 border-top-0 border-dark " style="border-top:1px solid !important;">{{ fruitlist.stock }}</td>
                {% elif fruitlist.stock >= 6 %}
                <td class="border-3 border-top-0 border-dark " style="border-top:1px solid !important;">{{ fruitlist.stock }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
            {% endif %}
            {% if orderlistResult %}
        <tbody class="border-3 border-dark">
            {% for orderlist in orderlistResult %}
            {% if orderlist.cn == orderlistModifySelectResult.0.cn %}
            <tr class="text-center" style="background-color:#9c9d9e;">
            {% else %}
            <tr class="text-center"> 
            {% endif %}
                <td colspan="2" class="border-3 border-top-0 border-bottom-0 border-dark">
                    {% now "Y-m-d" as todays_date %}
                    {% if orderDate %}
                    {% if todays_date == orderDate %}
                    <a href="{% url 'main:orderinfo_modify_select' orderlist.id %}">{{orderlist.cn}}</a><div style="font-size:3px;">{{orderlist.pmn}}/{{orderlist.stn}}</div>
                    {% elif todays_date != orderDate %}
                    <div>{{orderlist.cn}}</div><div style="font-size:3px;">{{orderlist.pmn}}/{{orderlist.stn}}</div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'main:orderinfo_modify_select' orderlist.id %}">{{orderlist.cn}}</a><div style="font-size:3px;">{{orderlist.pmn}}/{{orderlist.stn}}</div>
                    {% endif %}
                </td>
                {% for quantity in orderlist.oq %}
                <td>{{quantity|default_if_none:'0'}}</td>
                {% endfor %}
                <td>{{orderlist.tp|intcomma}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    
    // datepicker default date declare
    // $(function(){
    //     $('#datePicker').val(moment().format('YYYY-MM-DD'));
    // });

    document.getElementsByName("reload").onclick = function () {
        
        location.href='/main/orderlist/'
    }

    function deleteOrderList(id) {
        if(confirm("주문내역을 삭제 하시겠습니까?")){
            axios.post('/main/orderlist/delete/'+ id +'/')
            .then((response) => {
                alert("삭제 완료");
                location.reload();
            })
            .catch((error) => {
            });
        }
    }

    
    // datepicker option config
    $('#datePicker').datepicker({
        format: 'yyyy-mm-dd',
        days: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
        daysShort: ['일', '월', '화', '수', '목', '금', '토'],
        daysMin: ['일', '월', '화', '수', '목', '금', '토'],
        months: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthsShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        weekStart: 1,
        yearFirst: true,
        yearSuffix: '년',
        endDate: moment().format('YYYY-MM-DD'),
    })
    // datepicker onChange event
    $('#datePicker').change(function(){
        let dateValue = {};
        select_date = $('#datePicker').val()

        location.href = '/main/orderlist/select/' + select_date;

        // axios.get('/main/orderlist/', {params: dateValue})
        //         .then((response) => {
        //             console.log(response);
        //         })
        //         .catch((error) => {
        //             // console.log(error);
        //         });
    })
</script>
{% endblock %}